{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Python Project - Django{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'article_list' %}">Articles</a></li>
                    <li><a href="{% url 'add_article' %}">Add Article</a></li>
                    <li>
                    <form action="{% url 'logout' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" style="background:none; border:none; color:blue; cursor:pointer;">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'article_list' %}">Articles</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
         <div class="content">
            {% block content %}{% endblock %}

            {% if recent_articles %}
            <div class="recent-articles-container">
                <h2>Recent Articles</h2>
                <ul class="article-list">
                    {% for article in recent_articles %}
                        <li class="article-card">
                            <a href="{% url 'article_detail' article.pk %}" class="article-link">{{ article.title }}</a>
                            <p>Written by {{ article.author.username }} on {{ article.created_at|date:"F j, Y" }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </main>
    <footer>
        <p>&copy; Python Project - Django</p>
    </footer>
</body>
</html>