{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <div class="article-container">
        <h1>{{ article.title }}</h1>
        <p>{{ article.content }}</p>
        <p>Written by: {{ article.author.username }} on {{ article.created_at }}</p>
        {% if article.author == user %}
            <a href="{% url 'edit_article' article.pk %}">Edit</a> |
            <a href="{% url 'delete_article' article.pk %}">Delete</a>
        {% endif %}
            <a href="{% url 'article_list' %}">Back to Articles</a>
    </div>

{% endblock %}